<div qv-extension ng-style="{'background-color':COLOR}">
    This is my message: {{msg}}<br/>
    or<br/>
	<button ng-click="CC()">
	CHANGE COLOR
	</button>
	
    This is my message: <span ng-bind="msg"></span>
	<h1 ng-repeat={{cc in CCC}}>
	{{cc}}
	</h1>
	<div ng-style="{'width':'40px','height':'40px',background-color:CC1}">
	
	</div>
		<div ng-style="{'width':'40px','height':'40px',background-color:CC2}">
	
	</div>
		<div ng-style="{'width':'40px','height':'40px',background-color:CC3}">
	
	</div>
	
	 
</div>